* {
  font-family: co-headline, sans-serif;
}
body {
  height: 100vh;
  background-color: #202020;
}

h1 {
  font-family: acier-bat-noir, sans-serif;
  font-size: 4em;
  color: white;
}
h2 {
  font-family: acier-bat-noir, sans-serif;
  color: white;
  font-size: 3em;
  margin-left: 1em;
}
h3 {
  margin: 0;
  font-family: acier-bat-noir, sans-serif;
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
  margin: 0.5em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1em;
}
header img {
  height: 8em;
  width: auto;
}

.weather {
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 2em;
  border-radius: 1em;
  align-items: center;
  background: #c0a6f1;
  font-size: 180%;
  color: white;
}

.search {
  display: flex;
  justify-content: center;
}
.search_bar {
  padding: 0.5em 0 0.5em 2em;
  width: 20%;
  height: 1em;
  border: 0.3em solid #c0a6f1;
  border-radius: 2em 0 0 2em;
  border-right: none;
  outline: none;
  text-transform: capitalize;
  font-size: 1.5em;
}
.search_button {
  width: 5em;
  height: 1.95em;
  border: solid #c0a6f1;
  border-radius: 0 2em 2em 0;
  background: #c0a6f1;
  cursor: pointer;
  text-align: center;
  font-size: 2em;
  color: white;
}

#map {
  display: flex;
  margin: 4em;
  width: auto; 
  height: 50%;
  border-radius: 2em;
}
